.book-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#bookForm {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
  }  